<div class="container">
    <!-- Content here -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " href="/home">Trang chủ</a>
        </li>
        {{#if status}}
        <li class="nav-item">
            <a class="nav-link " href="/userManager">Quản lý tài khoản</a>
        </li>
        {{/if}}
        <li class="nav-item">
            <a class="nav-link active" href="/productManager">Quản lý hàng hóa</a>
        </li>
    </ul>
    <h1>Danh sách sản phẩm</h1>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"
        style="margin-bottom: 20px;">Thêm sản phẩm</button>
    <div style="display: inline;float: right;">
        <form action="/searchProduct" method="POST" class="input-group">
            <input type="search" id="form1" class="form-control" placeholder="Nhập từ khóa tìm kiếm" name="text"
                required />
            <button type="submit" class="btn btn-primary">
                Tìm kiếm
            </button>
        </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm sản phẩm</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">

                    <form action="/productManager" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="usr">Tên sản phẩm:</label>
                            <input type="text" class="form-control" id="fullname" name="fullname" required>
                        </div>

                        <div class="form-group">
                            <label for="pwd">Giá:</label>
                            <input type="number" class="form-control" id="email" name="price" required min="0"
                                step="any">
                        </div>

                        <div class="form-group">
                            <label for="pwd">Số lượng:</label>
                            <input type="number" class="form-control" id="quantity" name="quantity" required min="1">
                        </div>
                        <select class="form-select" aria-label="Default select example" name="color" required>
                            <option selected value="0">Chọn màu</option>
                            <option value="Đỏ">Đỏ</option>
                            <option value="Xanh">Xanh</option>
                            <option value="Vàng">Vàng</option>
                            <option value="Đen">Đen</option>
                            <option value="Trắng">Trắng</option>
                        </select>

                        <div class="form-group">
                            <label for="formFile" class="form-label">Ảnh : </label>
                            <input class="form-control" type="file" id="files" name="img" accept="image/*" required>
                        </div>
                        <button type="submit" class="btn btn-info btn-lg" style="margin-bottom: 20px;" onclick="">Thêm
                            sản phẩm</button>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>TT</th>
                <th>Tên sản phẩm</th>
                <th>Ảnh</th>
                <th>Giá</th>
                <th>Màu sắc</th>
                <th>Số lượng</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{@index}}</td>
                <td>{{this.name}}</td>
                <td><img src={{this.img}} alt="" width="80" height="80"></td>
                <td>{{this.price}}</td>
                <td>{{this.color}}</td>
                <td>{{this.quantity}}</td>
                <td class="row">
                    <div class="col-3">
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#delete{{this._id}}">
                            Xóa
                        </button>
                        <div class="modal fade" id="delete{{this._id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="delete{{this._id}}">Thông báo</h1>
                                    </div>
                                    <div class="modal-body">
                                        Bạn có muốn xóa không ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                        <form action="/deleteProduct" method="post">
                                            <input type="hidden" value={{this._id}} name="id">
                                            <button type="submit" class="btn btn-primary">Yes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="col-4">
                        <button type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#edit{{this._id}}">
                            Sửa
                        </button>
                        <div class="modal fade" id="edit{{this._id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="edit{{this._id}}">Sửa sản phẩm</h1>
                                        <button type="button" class="btn-close" data-dismiss="modal"
                                            aria-label="Close">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/editProduct" method="POST" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label for="usr">Tên sản phẩm:</label>
                                                <input type="text" class="form-control" id="fullname" name="fullname"
                                                    value='{{this.name}}' required>
                                            </div>

                                            <div class="form-group">
                                                <label for="pwd">Giá:</label>
                                                <input type="number" class="form-control" id="email" name="price"
                                                    value={{this.price}} required min="0" step="any">
                                            </div>

                                            <div class="form-group">
                                                <label for="pwd">Số lượng:</label>
                                                <input type="number" class="form-control" id="quantity" name="quantity"
                                                    value={{this.quantity}} required min="1">
                                            </div>
                                            <select class="form-select" aria-label="Default select example"
                                                name="color">
                                                <option selected value={{this.color}}>Chọn màu</option>
                                                <option value="Đỏ">Đỏ</option>
                                                <option value="Xanh">Xanh</option>
                                                <option value="Vàng">Vàng</option>
                                                <option value="Đen">Đen</option>
                                                <option value="Trắng">Trắng</option>
                                            </select>
                                            <div class="form-group">
                                                 <img id="previewImage" src="{{img}}" alt="" width="120" height="120">
                                            </div>

                                            <div class="form-group">
                                                <label for="formFile" class="form-label">Ảnh : </label>
                                                <input class="form-control" type="file" id="files" name="img"
                                                    accept="image/*" onchange="loadPreview(event)">
                                            </div>
                                            <input type="hidden" name="id" value={{this._id}}>
                                            <button type="submit" class="btn btn-info btn-lg"
                                                style="margin-bottom: 20px;" onclick="">Sửa
                                                sản phẩm</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script>
    function loadPreview(event) {
        const inputFile = event.target;
        const previewImage = document.getElementById('previewImage');

        const file = inputFile.files[0];
        const reader = new FileReader();

        reader.onload = function () {
            previewImage.src = reader.result;
        }

        reader.readAsDataURL(file);
    }
</script>